<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timer</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="./master.css" media="screen" title="no title">
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js" charset="utf-8"></script>

    <div id='main'>
      <div class='clock'>
        <p>{{minutes}}:{{seconds}}:{{hundreths}}</p>
      </div>
      <div class='split-box'>
        <div class='splitTitles'>
          <h3 class='title'>CUMULATIVE</h3>
          <h3 class='title'>SUBTRACTED</h3>
        </div>
        <div class='splits'>
          <ul class='splitList'>
            <cum-split v-for="split in cumSplitsArray" v-bind:split="split"></cum-split>
          </ul>
          <ul class='splitList'>
            <sub-split v-for="split in subSplitsArray" v-bind:split="split"></sub-split>
          </ul>
        </div>
      </div>
      <div class='buttons'>
        <button class='stop-clear-button' v-on:click='stopTimer'>{{stopClearText}}</button>
        <button class='start-split-button' v-on:click='startTimer'>{{startSplitText}}</button>
      </div>
    </div>
    <script src="./app.js" charset="utf-8"></script>
  </body>
</html>
