<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timer</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="./master.css" media="screen" title="no title">
  </head>
  <body>
    <div id='main'>
      <div class='clock'>
        <p>{{minutes}}:{{seconds}}:{{hundreths}}</p>
      </div>
      <div class='split-box'>
        <div class='splits'>
          <h3 class='splitTitle'>CUMULATIVE</h3>
          <ul class='splitList'>
            <cum-split v-for="split in cumSplitsArray" v-bind:split="split"></cum-split>
          </ul>
          <p>scroll for hidden splits</p>
        </div>
        <div class='splits'>
          <h3 class='splitTitle'>SUBTRACTED</h3>
          <ul class='splitList'>
            <sub-split v-for="split in subSplitsArray" v-bind:split="split"></sub-split>
          </ul>
          <p>scroll for hidden splits</p>
        </div>
      </div>
      <div class='buttons'>
        <button class='start-button' v-on:click='startTimer'>START</button>
        <button class='stop-button' v-on:click='stopTimer'>{{buttontext}}</button>
        <button class='split-button' v-on:click='getSplit'>SPLIT</button>
      </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js" charset="utf-8"></script>
    <script src="./app.js" charset="utf-8"></script>
  </body>
</html>
