html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: lightblue;
  font-family: 'Roboto', sans-serif;
}

#main {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.clock {
  height: 10vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.split-box {
  height: 40vh;
  width: 100vw;
  border-top: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.splits {
  text-align: center;
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.splitList {
  font-size: 1.5em;
  height: 25vh;
  overflow-y: scroll;
  text-align: center;
  list-style-type: none;
  margin:0;
  padding: 0;
}

.split-time {
  margin: 0;
  padding: 0;
}

.buttons {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

button {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  border: none;
  outline:none;
  height: 25vh;
  width: 50vw;
  font-size: 2em;
  background: white;
}

.start-button {
  border-right: 1px solid black;
  border-top: 2px solid black;
  box-sizing: border-box;
  background: green;
}

.stop-button {
  border-left: 1px solid black;
  border-top: 2px solid black;
  box-sizing: border-box;
  background: red;
}

.split-button {
  border-top: 2px solid black;
  box-sizing: border-box;
  width: 100vw;
}
