html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  background: black;
}
body {
  padding: 0;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 50vw;
  margin: 0 auto;
  background: white;
}
#main {
  padding: 0;
  height: 100vh;
  width: 100%;
}
.clock {
  height: 15vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border-bottom: 3px solid black;
  background: #414141;
  color: white;
}

.split-box {
  height: 45vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #CCDFCB;
}
.splitTitles {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  height: 100%;
  width: 50%;
  line-height: 1;
  font-size: 1.7em;
}

.splits {
  text-align: center;
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.splitList {
  font-size: 1.5em;
  height: 35vh;
  width: 50%;
  list-style-type: none;
  margin:0;
  padding: 0;
  text-align: center;
}

.splits::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
.splits::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.split-time {
  font-size: 1.5em;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid darkgray;
}

.buttons {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

button {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  border: none;
  outline:none;
  height: 20vh;
  width: 100%;
  font-size: 2em;
  color: floralwhite;
}

.stop-clear-button {
  border-top: 2px solid black;
  box-sizing: border-box;
  background: #FF6A5C;
}

.start-split-button {
  border-top: 2px solid black;
  box-sizing: border-box;
  background: #056571;
}
@media only screen and (max-width:1500px){
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
  }
  body {
    padding: 0;
    box-sizing: border-box;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 100vw;
    margin: 0 auto;
  }
  #main {
    padding: 0;
    height: 100vh;
    width: 100%;
  }
}


/*Sideways Phone*/
@media only screen and (max-width: 900px) {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
  }
  body {
    padding: 0;
    box-sizing: border-box;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 100vw;
    margin: 0 auto;
  }
  #main {
    padding: 0;
    height: 100vh;
    width: 100%;
  }

  .title {
    font-size: 1em;
  }

  .split-time{
    font-size: 1em;
    line-height: 1.7;
  }
}

/* BIG MOBILE Iphone 6, 6s, Galaxy s7 */
@media only screen and (max-width: 600px) {
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
  }
  body {
    padding: 0;
    box-sizing: border-box;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 100vw;
    margin: 0 auto;
  }
  #main {
    padding: 0;
    height: 100vh;
    width: 100%;
  }

  .title {
    font-size: 1.7em;
  }
}

/* SMALL MOBILE iphone 4, 5 and equivalant */
@media only screen and (max-width: 400px) {
  .title {
    font-size: 1.5em;
  }

}
